@import './base';

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.app-root {
    height: 100%;
    .app-layout {
        height: 100%;
        .app-header {
            width: 100%;
            height: $header-height;
            position: fixed;
            z-index: 1;
            .app-logo {
                display: flex;
                align-items: center;
                height: $header-height;
                .app-logo-link {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    .app-logo-text {
                        height: inherit;
                        display: flex;
                        align-items: center;
                        margin: 0 12px;
                        color: #fff;
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .app-menu {
            width: $menu-width;
            height: 100%;
            margin-top: $header-height;
            position: fixed;
            left: 0;
            .ant-menu {
                height: 100%;
                .fa {
                    font-size: 16px;
                }
                .ant-menu-submenu-title {
                    > span {
                        margin-left: 8px;
                    }
                }
            }
        }
        .site-layout {
            margin-left: $menu-width;
            .site-content {
                padding: 0 20px;
                margin-top: $header-height;
                .app-breadcrumb {
                    height: 44px;
                    padding: 12px 0;
                }
                .site-content-layout {
                    min-height: 300px;
                    padding: 15px;
                    background: #fff;
                    border-radius: 2px;
                }
            }
            .app-footer {
                padding: 10px 20px;
            }
        }
    }
}